[user]
    name = Yang
    email = i@ykqmain.com
[core]
    excludesfile = /Users/yang/.gitignore_global
    autocrlf = input

[http "https://github.com"]
    proxy = socks5://127.0.0.1:1086
[https "https://github.com"]
    proxy = socks5://127.0.0.1:1086

