[user]
    name = Yang
    email = i@ykqmain.com
[core]
    excludesfile = /Users/yang/.gitignore_global
    autocrlf = input
[http]
    postBuffer = 1073741824

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[commit]
    template = /Users/yang/.stCommitMsg
