[user]
	name = Yang
	email = i@ykqmain.com
[core]
	excludesfile = /Users/yang/.gitignore_global
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
